*{
    margin:0;
    padding: 0;
    
}

body{
    text-align: center;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

#content{
    background-color: rgba(255,255, 255, 0.7);
    margin: 5% 20%;
}

hr{
    border-bottom: black solid 1px;
    margin: 1% 20%;
    
}

h1{
    font-size: 350%;
    padding: 3%;
    font-family: 'Quicksand', sans-serif;
}

h3{
    font-size: 160%;
    padding: 1% 0 1%;

    font-family: 'Quicksand', sans-serif;
}

h2{
    margin:5% 0 1%;
    font-size: 210%;
    text-decoration: underline;
    font-family: 'Quicksand', sans-serif;
}

ul li{
    list-style: none;
    font-size: 130%;
    padding: 0.2%;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

p{
    font-weight: bold;
    font-size: 130%;
    padding: 1%;
    font-family: 'Roboto Mono', monospace;
}

img{
    opacity: 0.95;
    border:solid 3px rgba(255,255, 255, 0);
    transition: opacity 1s, border 1s;
}
img:hover{
    opacity: 0.8;
    border:solid 3px rgba(255,255, 255, 0.5);
}


